@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 624px;
    width: 305px;
    background-image: url(../imagens/frame-iphone.png);
    background-position: center center;
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 19px;
    width: 268px;
    height: 470px;
}

section#redessociais {
    text-align: right;
}

section#redessociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
}

section#redessociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.596);
}