@charset "UTF-8";

:root {
    --cor1: #84239c;
    --cor2: #3ea7ca;
    --cor3: #17b7cc;
}

* {
    margin: 0px;
    padding: 0px;
}

body, main{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3) );
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    min-height: 500px;
    max-width: 350px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 2.4em;
}

div#duser {
    background-color: var(--cor1);
    margin-top: 2px;
    height: 50px;
    border-radius: 5px;
}

div#dpass {
    background-color: var(--cor1);
    margin-top: 2px;
    height: 50px;
    border-radius: 5px;
}

div#user > img {
    position: absolute;
    left: 50%;
    top: 50%;

}

div input {
    background-color: #94cfcd;
    font-size: 1em;
    width: 297px;
    height: 70%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-10px);
}

div#img > img {
    margin: -10px;
    padding: 0px;
    width: 370px;
    border-radius: 10px 10px 0px 0px;
}

div p {
    margin-bottom: 15px;
}

div#entrar {
    background-color: #28bb8aa4;
    margin-top: 8px;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    max-width: 350px;
    height: 30px;
    border: 1px solid #177455a4;
}
div#entrar > p {
    padding-top: 5px;
    margin-top: 3px;
}

div#entrar:hover {
    background-color: #145a43e8;
    cursor: pointer;
}

div#esqueci {
    background-color: #28bb8a59;
    margin-top: 3px;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    max-width: 350px;
    height: 30px;
    border: 1px solid #16694e59;
}
div#esqueci > p {
    padding-top: 5px;
    margin-top: 3px;
}

div#esqueci:hover {
    background-color: #1f946dcc;
    cursor: pointer;
}